<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>ABC Bank – Create</title>
</head>

<body>
    <header>
        <h1><b id="logo-abc">ABC</b> Bank</h1>
        <nav>
            <a href="/">Search customer</a>
            <a href="#">Create customer</a>
            <a href="/updatecustomer">Update Customer</a>
            <a href="/deletecustomer">Delete Customer</a>
        </nav>
    </header>
    <fieldset>
        <legend>Create new customer</legend>
        <form action="/createcustomer" method="POST">
            <label for="id">ID:</label>
            <input type="number" id="id" name="id" placeholder="ID" required>
            <label for="personal_number">Personal Number:</label>
            <input type="text" id="personal_number" name="personal_number" placeholder="Personal Number"
                pattern="^\d{11}$" title="Personal Number must consists of 11 digits." required>
            <label for="account_number">Account Number:</label>
            <input type="text" id="account_number" name="account_number" placeholder="Account Number" pattern="^\d{11}$"
                title="Account Number must consists of 11 digits." required>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required placeholder="First Name">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required placeholder="Last Name">
            <label for="date_of_birth">Date Of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth" min="1900-01-01" max="2021-12-12" required
                placeholder="Date of Birth">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required placeholder="City">
            <input type="submit" value="add new customer">
        </form>
    </fieldset>
    
    <!-- We use ejs here to insert the response from the server on the HTL page -->
    <div class="results">
        <% if (locals.response) { %>
            <%= response %>
                <% } %>
    </div>
</body>

</html>