<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>ABC Bank – Home</title>
</head>

<body>
    <header>
        <h1><b id="logo-abc">ABC</b> Bank LATENCY2</h1>
        <nav>
            <a href="/">Search Customer</a>
            <a href="/createcustomer">Create Customer</a>
            <a href="/updatecustomer">Update Customer</a>
            <a href="/deletecustomer">Delete Customer</a>
        </nav>
    </header>

    <fieldset>
        <legend>Search for customer</legend>
        <form action="/getcustomer" method="GET">
            <label for="personal_number">Personal Number:</label>
            <input type="text" id="personal_number" name="personal_number" placeholder="Personal Number"
                pattern="^\d{11}$" title="Personal Number must consists of 11 digits" required>
            <input type="submit" value="Search for customer">
        </form>
    </fieldset>

    <!-- We use ejs here to insert the response from the server on the HTML page T3 -->
    <div class="results">
        <% if (locals.response) { %>
            <% let time=Date.now() %>
                <%= response %>
                    <%= time %>
                        <% } %>
    </div>

    <script>
        
    </script>
</body>

</html>