h1 {
    color: rgb(61, 61, 61);
    font-size: 3em;
}

#logo-abc {
    color: teal;
}

body {
    background-color: rgb(255, 247, 232);
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    width: 40%;
    margin: 5% auto;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

form input {
    margin-bottom: 1em;
}

input[type=submit] {
    width: 100%;
    padding: 1em 1.5em;
    margin: 1em 0;
    box-sizing: border-box;
    text-transform: uppercase;

}

input[type=submit]:hover {
    box-shadow: 0px 0px 5px 0px rgba(61, 61, 61, 0.66);
    transition-duration: 0.3s;
    font-weight: bold;
}

#delete:hover  {
    background-color: lightcoral;
    border: 1px solid darkred;
}

nav a {
    color: rgb(61, 61, 61);
    font-size: 1.5em;
    margin: 3%;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover {
    color: teal;
    text-decoration: underline;
}

.results {
    background-color: lightseagreen;
    margin: auto;
    width: 40%;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(52, 52, 52, 0.5);
}